<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".gallery.DesignGalleryActivity"
            android:exported="false" />
        <activity
            android:name=".gallery.StateGalleryActivity"
            android:exported="false" />
        <activity
            android:name=".gallery.WidgetPreviewActivity"
            android:exported="false" />
        <activity
            android:name=".gallery.CaptureActivity"
            android:exported="false" />
    </application>
</manifest>
